* {
  box-sizing: border-box;
}

body {
  background-image: url(img/bg.jpg);
  font-size: 13px;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.wrapper {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
  width: 990px;
  height: 100vh;
}

.logo {
  background-image: url(img/logo.png);
  height: 170px;
}

nav {
  height: 40px;
  background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(140,140,140,1) 100%);
}

.nav-flex-wrap {
  display: flex;
  height: 100%;
}

.nav-flex-item {
  padding: 0 20px;
  height: 100%;
}

.nav-flex-item a {
  padding-top: 12px;
  display: block;
  text-decoration: none;
  color: rgb(204, 204, 255);
  font-weight: 700;
}

main {
  background-color: #f5f5f5;
  padding: 10px;
}

.main-header {
  height: 50px;
  background-color: white;
  border-radius: 5px;
  padding: 0 20px;
  margin-bottom: 10px;
}

.main-header span {
  padding-top: 18px;
  display: block;
}

.main-flex-area {
  display: flex;
}

aside {
  width: 194px;
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}

section {
  width: 765px;
  background-color: white;
  border-radius: 5px;
}

.aside-header {
  padding-left: 10px;
  background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(140,140,140,1) 100%); 
  height: 28px;
  margin-bottom: 15px;
}

.aside-header span {
  display: block;
  padding-top: 6px;
  color: rgb(204, 204, 255);
  font-weight: 700;
}

aside li {
  position: relative;
  padding: 8px 0;
  margin-left: 7px;
  border-bottom: dashed lightgray thin;
}

.AYE {
  position: absolute;
  left: 95%;
  right: 0;
  top: 30%;
  bottom: 0;
}

section {
  padding: 10px;
}

section img {
  width: 100%;
}

hr {
  border-top: 1px solid lightgray;
  margin: 10px 0;
}

.SVO {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
}

.jove {
  background-image: url(img/joveterier.jpg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 30%;
}